
  
  
  #toggle-right {
    transform: rotate(180deg);
  }
  
  .hero-section {
    background-image: url("/img/history-background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 700px;
  }
  
  
  .hero-text {
    font-size: 2.5rem !important;
  }
  
  @media (min-width: 766px) and (max-width: 988px) {
    .hero-text {
      font-size: 2.1rem !important;
    }
  }
  
  
  .history-head{
    font-weight: 600;
  }
  /* For screens up to 768px */
  @media (max-width: 768px) {
    .hero-text {
      font-weight: 500;
      color: #ffffff;
      font-size: 1.8rem !important;
      margin-top: 50%;
      padding-top: 0%;
      padding-bottom: 100px;
    }
  
    .scroll-img2 {
      min-width: 45%;
    }
  
    .download__links {
      flex-direction: column;
      align-items: center;
      padding-bottom: 60%;
    }
  
    .toggle__buttons {
      flex-direction: row;
    }
  
    .toggle__buttons img {
      width: 70%;
    }
  }
  
  /* For screens between 570px and 780px */
  @media (min-width: 570px) and (max-width: 780px) {
    .hero-text {
      padding-bottom: 100px;
    }
  }
  
  /* For screens up to 576px */
  @media (max-width: 576px) {
    .download__links img {
      width: 200px;
    }
  
    .toggle__buttons {
      bottom: 0.5rem;
    }
  }
  
  .scroll-logo {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .scroll-logo:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  }
  
  .scroll-logo:active {
    transform: scale(0.9);
  }
  
  .scroll-buttons p {
    font-family: "Lato", sans-serif;
    color: #90a955;
    font-weight: 600;
  }
  
  @media (max-width: 800px) {
    .scroll-buttons {
      font-size: 1rem;
    }
  }
  
  /* For mobile devices */
  @media (max-width: 576px) {
    .scroll-buttons {
      font-size: 0.67rem;
    }
  
    .scroll-img {
      width: 40px;
      height: auto;
    }
  
    .scroll-logo {
      width: 20px;
      height: auto;
    }
  }
  
  .history-text p {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.3rem;
    color: #808080;
  }
  
  @media (max-width: 600px) {
    .history-text p  {
  
      font-size: 1rem;
      padding: 0 3%;
    }
    .history-head{
      font-weight: 400;
      padding-bottom: 3%;
    }
  }
  
  @media (max-width: 990px) {
    .history-text p {
  
      text-align: justify;
    }
  }
  @media (min-width: 992px) {
    .img-fluid{
  max-width:80% !important ;
  padding-top:35%;
    }
  
    .history-head h1{
  
      padding-right: 19%;
      padding-top: 5%;
    }
  }
  
  @media (max-width:600px) {
    .img-fluid{
      width: 50%;
    }
  }
  
  
  @media (min-width:769px) and (max-width:991px) {
    
    .history-head{
      padding-top: 5%;
      padding-bottom: 3%;
    }
  }